<%= form_for [@user, @scrap], html: { role: "form", class: "form-horizontal" } do |f| %>
  <div class="form-group">
    <%= f.label :endpoint, "Endpoint:", class:"col-md-2" %>
    <div class="col-md-10">
      <%= f.text_field :endpoint, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :content_type, "*Content Type:", class:"col-md-2" %>
    <div class="col-md-10">
      <p><%= @scrap.content_type %></p>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :status_code, "Status Code:", class:"col-md-2" %>
    <%= f.select :status_code, StatusCode.options_for_select, {}, class: "col-md-4" %>
  </div>
  <div class="form-group">
    <% methods_array = %w[ GET POST PUT PATCH DELETE COPY HEAD OPTIONS LINK UNLINK PURGE ] %>
    <%= f.label :http_method, "HTTP Method:", class:"col-md-2" %>
    <%= f.select :http_method, methods_array, {}, class: "col-md-4" %>
  </div>
  <div class="form-group">
    <%= f.label :body, "Response:", class: "col-md-2" %>
    <%= ace_container @scrap, "editor", data: { hidden: "#scrap_body" } do %><%= @scrap.body %><% end %>
    <%= f.hidden_field :body %>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit "Save Scrap", class: "btn btn-primary" %>
      <%= link_to "cancel", :back, class: "btn btn-link" %>
    </div>
  </div>
<% end %>
