<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @user.username %> Scraps</h3>
  </div>
  <% if Array(@scraps).empty? %>
    <div class="panel-body">
      <p>No scraps<br />...how boring</p>
    </div>
  <% else %>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th class="col-xs-1">Method</th>
          <th class="col-xs-6">Endpoint</th>
          <th class="col-xs-3">Content Type</th>
          <th class="col-xs-1">Status</th>
          <th class="col-xs-1">Private?</th>
        </tr>
      </thead>
      <tbody>
        <% Array(@scraps).each do |scrap| %>
          <tr>
            <td><%= method_label(scrap.http_method) %></td>
            <td class="monospace">
              <%= link_to user_scrap_path(@user, scrap.id) do %>
                /<%= scrap.endpoint %>
              <% end %>
            </td>
            <td><%= scrap.content_type %></td>
            <td><%= status_label(scrap.status_code) %></td>
            <td><%= scrap.private? %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <div class="panel-footer">
    <%= link_to "New Scrap", new_user_scrap_path(@user), class: "btn btn-primary" %>
  </div>
</div>
