<%= form_for [@user, @pile], html: { role: "form", class: "form-horizontal" } do |f| %>
  <div class="form-group">
    <%= f.label :name, "Name:", class: "col-md-2" %>
    <div class="col-md-10">
      <%= f.text_field :name, class: "form-control" %>
      <p class="help-text text-info">/[-_a-z0-9]*/</p>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, "Description:", class: "col-md-2" %>
    <div class="col-md-10">
      <%= f.text_area :description, rows: 6, class: "form-control tinymce" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit "Save Pile", class: "btn btn-primary" %>
      <%= link_to "cancel", :back, class: "btn btn-link" %>
    </div>
  </div>
<% end %>
