<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="navbar-text navbar-left">
      &copy; <%= Time.now.year %> All rights reserved
      (<span class="release_version"><%= APP_CONFIG['version'] %></span>)
    </div>
    <div class="navbar-text navbar-right">
      View
      <%= link_to "on Github", "https://github.com/ScrapprIO/scrappr.io", target: "_blank" %>
      <span class="fa fa-github-alt"></span>
    </div>
    <div class="navbar-text navbar-right">
      <%= link_to "https://waffle.io/scrapprio/scrappr.io", target: "_blank" do %>
        <%= image_tag "https://badge.waffle.io/ScrapprIO/scrappr.io.png?label=in%20progress&title=In%20Progress" %>
      <% end %>
    </div>
  </div>
</nav>
