<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="navbar-text navbar-left">
      &copy; <%= Time.now.year %> All rights reserved
      (<span class="release_version"><%= APP_CONFIG['version'] %></span>)
    </div>
    <div class="navbar-text navbar-right social-media">
      <%= link_to "https://github.com/ScrapprIO/scrappr.io", target: "_blank", class: "github" do %>
        <span class="fa fa-fw fa-lg fa-github-alt"></span>
      <% end %>
        <%= link_to "https://twitter.com/ScrapprIO", target: "_blank", class: "twitter" do %>
          <span class="fa fa-fw fa-lg fa-twitter"></span>
        <% end %>
    </div>
    <div class="navbar-text navbar-right">
      <%= link_to "https://waffle.io/scrapprio/scrappr.io", target: "_blank" do %>
        <%= image_tag "https://badge.waffle.io/ScrapprIO/scrappr.io.png?label=in%20progress&title=In%20Progress" %>
      <% end %>
    </div>
  </div>
</nav>
