<nav class="navbar navbar-primary navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header text-left">
      <span class="navbar-brand"><span class="label label-default">S</span></span>
    </div>
    <div class="navbar-divider">&nbsp;</div>
    <div class="navbar-left text-left">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to root_path do %>
            <strong><span class="fa fa-globe"></span> All Scraps</strong>
          <% end %>
        </li>
      </ul>
    </div>

    <% if user_signed_in? %>
      <div class="navbar-right text-right">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to new_user_scrap_path(current_user) do %>
              <span class="fa fa-plus"></span> New Scrap
            <% end %>
          </li>
          <li class="navbar-divider">&nbsp;</li>
          <li>
            <%= link_to user_scraps_path(current_user) do %>
              <% unless current_user.avatar_url.blank? %>
                <%= image_tag current_user.avatar_url, class: "avatar-tiny img-rounded" %>
              <% end %>
              <strong><%= current_user.username %></strong>
            <% end %>
          </li>
          <li>
            <%= link_to logout_path, method: :delete, title: "Logout" do %>
              <span class="fa fa-power-off"></span>
            <% end %>
          </li>
        </ul>
      </div>
    <% else %>
      <div class="navbar-right text-right">
        <%= link_to user_omniauth_authorize_path(:github), class: "navbar-btn btn btn-social btn-github btn-sm" do %>
          <span class="fa fa-github"></span>
          Sign in with Github
        <% end %>
      </div>
    <% end %>

    <div class="clearfix"></div>
  </div>
</nav>
<% if content_for(:subnav) %>
  <div class="navbar-secondary navbar-default">
    <div class="container">
      <%= yield :subnav %>
    </div>
  </div>
<% else %>
  <br />
<% end %>
