<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header text-left">
      <span class="navbar-brand">Scrap-It</span>
    </div>
    <div class="navbar-left text-left">
      <%= link_to root_path, class: "btn navbar-btn btn-link" do %>
        <span class="fa fa-globe"></span> Browse Scraps
      <% end %>
    </div>

    <!--
    <div class="navbar-left text-left">
      <%= link_to root_path, class: "btn navbar-btn btn-link text-left" do %>
        <strong>Scrap-It</strong>
      <% end %>
      <%= link_to root_path, class: "btn navbar-btn btn-link text-left" do %>
        <span class="fa fa-globe"></span> Browse Scraps
      <% end %>
    </div>
    -->

    <% if user_signed_in? %>
      <div class="navbar-left text-left">
        <%= link_to user_scraps_path(current_user), class: "btn navbar-btn btn-link" do %>
          <span class="fa fa-cubes"></span> My Scraps
        <% end %>
        <%= link_to new_user_scrap_path(current_user), class: "btn navbar-btn btn-link" do %>
          <span class="fa fa-plus"></span> New Scrap
        <% end %>
      </div>

      <div class="navbar-right text-right">
        <div class="navbar-text navbar-left">
          Signed in as <strong><%= current_user.username %></strong>
        </div>
        <div class="navbar-btn navbar-right">
          <%= link_to logout_path, method: :delete, class: "btn logout-btn btn-danger", title: "Logout" do %>
            <span class="fa fa-power-off"></span>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="navabar-right text-right">
        <%= link_to user_omniauth_authorize_path(:github), class: "navbar-btn btn btn-social btn-github btn-sm" do %>
          <span class="fa fa-github"></span>
          Sign in with Github
        <% end %>
      </div>
    <% end %>

    <div class="clearfix"></div>
  </div>
</nav>
